@import "../res/variables&fonts.scss";

.StepCom {
    @include DFC;
    align-items: flex-start;
    gap: 18px;
    padding: 18px 0;

    border-top: 1px solid #a8a8a8;
    width: 100%;
    max-width: 400px;
}