@font-face {
    font-family: '29ibbold';
    src: url(./TTF/29ltbukrabold.ttf) format(ttf);
}

@font-face {
    font-family: '29ibbolditalic';
    src: url(./TTF/29ltbukrabolditalic.ttf) format(ttf);
}

@font-face {
    font-family: '29iblight';
    src: url(./TTF/29ltbukralight.ttf) format(ttf);
}

@font-face {
    font-family: '29ibregular';
    src: url(./TTF/29ltbukraregular.ttf) format(ttf);
}

.LT15 {
    font-family: '29iblight' !important;
    font-size: 15px;
}

.LT16 {
    font-family: 29iblight !important;
    font-size: 16px;
}

.LT18 {
    font-family: 29iblight !important;
    font-size: 18px;
}

.LT20 {
    font-family: 29iblight !important;
    font-size: 20px;
}

.LT24 {
    font-family: '29iblight' !important;
    font-size: 20px;
}

.LT40 {
    font-family: 29iblight !important;
    font-size: 40px;
}
.LB15 {
    font-family:29ibbold !important;
    font-size: 15px;
    font-weight: 700;
}

.LB16 {
    font-family:29ibbold !important;
    font-size: 16px;
    font-weight: 700;
}

.LB18 {
    font-family:29ibbold !important;
    font-size: 18px;
    font-weight: 700;
}

.LB20 {
    font-family:'29ibbold' !important;
    font-size: 20px;
    font-weight: 700;
}

.LB24 {
    font-family:29ibbold !important;
    font-size: 20px;
    font-weight: 700;
}

.LB40 {
    font-family: 29ibbold !important;
    font-size: 40px;
    font-weight: 700;
}