/*color style*/

$primary1: rgba(176, 233, 220, 1);
$primary-60: rgba(0, 73, 86, 1);
$dark-blue: rgba(17, 24, 29, 1);
$white: rgba(255, 255, 255, 1);
$law-opacity-75: rgba(52, 53, 53, 0.8);
$notfaction: rgba(249, 196, 29, 1);
$danger: rgba(239, 56, 27, 1);
$success: rgba(62, 215, 54, 1);
$xxx: rgba(238, 239, 243, 1);
